.cuadro{
    opacity: 0.5;
    border: 1em;
    border-color: black;
    border-style: solid;
}

.rojo{
    background-color: red;
    height: 14em;
    margin: 0.5em;
    border-bottom-left-radius: 100%;
}

.azul{
    background-color: blue;
    height: 14em;
    margin: 0.5em;

    border-top-right-radius: 100%;
}

.amarillo{
    background-color: yellow;
    height: 14em;
    margin: 0.5em;

    border-top-left-radius: 100%;
}

.verde{
    background-color: green;
    height: 14em;
    margin: 0.5em;
    border-bottom-right-radius: 100%;
}

body{
    background-color: grey;
}